{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h1>{{=message}}</h1>

<hr />
<ul>
  <li>This is the index view of the project {{=A("GestionLibre", _href="http://code.google.com/p/gestionlibre/")}}</li>
  <li>{{=A(B(T("Customer control panel (requires registration and login)")), _href=URL(c='scm',f='index'))}}</li>
  <li>{{=A(B(T("Movements panel")), _href=URL(c='operations',f='index'))}}</li>
  <li>{{=A(B(T("Journal entries")), _href=URL(c='accounting',f='journal_entries'))}}</li>
  <li>{{=A(B(T("Order allocation")), _href=URL(c='scm',f='order_allocation'))}}</li>
  <li>{{=A(B(T("Packing slip")), _href=URL(c='scm',f='packing_slip'))}}</li>  
  <li>{{=A(B(T("Receipt")), _href=URL(c='scm',f='receipt'))}}</li>
  <li>{{=A(B(T("Product billing")), _href=URL(c='scm',f='product_billing'))}}</li>  
  <li>{{=A(B(T("Current account report")), _href=URL(c='crm',f='current_account_report'))}}</li>
  <li>{{=A(B(T("Administrative interface")), _href=URL('admin','default','index'))}}</li>
</ul>

{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block left_sidebar}}New Left Sidebar Content{{end}}
{{block right_sidebar}}New Right Sidebar Content{{end}}
