{{extend 'layout.html'}}
<h1>Movements (Operations)</h1>
<h3>Price list:
{{if price_list is not None:}}
{{=price_list.description}}
{{else:}}
None selected
{{pass}}
</h3>

{{=A("Add item", _href=URL(f="movements_add_item"))}} | {{=A("Add check", _href=URL(f="movements_add_check"))}} | {{=A("Current account", _href=URL(f="movements_current_account_concept"))}} | {{=A("Discount/Surcharges", _href=URL(f="movements_add_discount_surcharge"))}} | {{=A("Process operation", _href=URL(f="movements_process"))}} | {{=A("Select price list", _href=URL(f="movements_price_list"))}}

{{=BEAUTIFY(movements)}}
