{{extend 'layout.html'}}
<h1>Customer Panel</h1>
{{if customer:}}
<span>Firm: {{=customer.firmname}}</span> | <span>TIN: {{=customer.tin}}</span> | <span>Sales contact: {{=customer.salesperson}}</span> | <span>{{=A("Create/Edit orders", _href=URL(c="scm", f="new_customer_order"))}}</span>
{{=H3("Order list")}}
{{=SQLTABLE(customer_orders, columns=["customerorder.id", "customerorder.code", "customerorder.date", "customerorder.description", "customerorder.accepted", "customerorder.user", "customerorder.status"], headers={"customerorder.id": "Number", "customerorder.code": "Serial code", "customerorder.date": "Date", "customerorder.description": "Description", "customerorder.accepted": "Accepted", "customerorder.user": "User", "customerorder.status": "Status"})}}
<!-- {{=BEAUTIFY(response._vars)}} -->
{{else:}}
{{=P("You have not specified you firm's TIN. Please visit the ", A(EM("Post registration form"), _href=URL(c="registration", f="post_register_specify_firm")), " and try again")}}
{{pass}}
